<?xml version="1.0" encoding="UTF-8" ?>

<log4j2:configuration xmlns:log4j2="http://jakarta.apache.org/log4j2/">

  <appender name="console" class="org.apache.log4j2.ConsoleAppender"> 
    <param name="Target" value="System.out"/> 
    <layout class="org.apache.log4j2.PatternLayout"> 
      <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> 
    </layout> 
  </appender> 

  <appender name="file" class="org.apache.log4j2.FileAppender"> 
    <param name="file" value="C:\\Users\\yakir\\train\\train\\log\\log.out"/> 
    <layout class="org.apache.log4j2.PatternLayout"> 
      <param name="ConversionPattern" value="%-5p %c{1} - %m%n"/> 
    </layout> 
    <filter class="org.apache.log4j2.varia.LevelRangeFilter">
       <param name="levelMin" value="ALL" />
       <param name="levelMax" value="ERROR" />
    </filter>
    <filter class="org.apache.log4j2.filter.ExpressionFilter">
       <param name="expression" value="Maino"/>
       <param name="acceptOnMatch" value="false" />
    </filter>
  </appender> 
  
</log4j2:configuration>
